.git
.gitignore
.DS_Store
.env.local
.env.*.local
node_modules
storage/logs/*
storage/framework/cache/*
bootstrap/cache/*
vendor/
.phpunit.result.cache
.vscode
.idea
*.log
dist/
build/
.editorconfig
.gitattributes
docker-compose.*.yml
